layout{
    focus-ring{
        active-gradient from="#a8c8ffcc" to="#dbbce1cc" angle=135
        urgent-color "#ffb4ab"

        }
}
recent-windows {    
    highlight {
        active-color "#37393e"
        urgent-color "#ffb4ab"
    }
}
