// 引入由 nwg-displays 生成的显示器配置
include "monitor.kdl"
// 动态引入视觉特效样式 (普通模式 vs 护眼模式)
include "effects.kdl"
// 引入输入设备与手势配置 (受 Dunder Protocol 保护，更新自动保留)
include optional=true "input__custom__.kdl"
// 引入布局设置
include "layout.kdl"
// 引入动画配置
include "animations.kdl"
// 引入窗口与图层规则
include "rules.kdl"
// 引入快捷键绑定配置
include "binds.kdl"
// 引入背景模糊配置
include "blur.kdl"

overview {
    backdrop-color "#4c566a90"
    workspace-shadow {
        off
    }
}

environment {
    XDG_CURRENT_DESKTOP "niri"
    XDG_SESSION_TYPE "wayland"
    LANG "zh_CN.UTF-8"
    LANGUAGE "zh_CN:en"
    GTK_IM_MODULE "fcitx"
    XMODIFIERS "@im=fcitx"
    QT_IM_MODULES "wayland;fcitx"
    ELECTRON_OZONE_PLATFORM_HINT "auto"
    QT_QPA_PLATFORM "wayland;xcb"
    QT_QPA_PLATFORMTHEME "gtk3"
    QT_WAYLAND_DISABLE_WINDOWDECORATION "1"

    // NVIDIA environment variables (uncommented automatically by install.sh if NVIDIA GPU is detected)
    // GBM_BACKEND "nvidia-drm"
    // __GLX_VENDOR_LIBRARY_NAME "nvidia"
    // LIBVA_DRIVER_NAME "nvidia"
}

// 壁纸 daemon（awww）
spawn-at-startup "awww-daemon"
spawn-at-startup "awww-daemon" "-n" "overview"
// 任务栏（waybar，含左上角工作区指示器）
spawn-at-startup "waybar"
// 音量/亮度 OSD
spawn-at-startup "swayosd-server"
spawn-at-startup "~/.config/niri/scripts/toggle-eyecare.sh" "--sync"

hotkey-overlay {
    skip-at-startup
}

prefer-no-csd
screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

debug {
    honor-xdg-activation-with-invalid-serial
}

recent-windows {
    binds {
        Alt+Tab         { next-window scope="output"; }
        Alt+Shift+Tab   { previous-window scope="output"; }
        Alt+grave       { next-window filter="app-id"; }
        Alt+Shift+grave { previous-window filter="app-id"; }
    }
    highlight {
        corner-radius 12
        active-color "#b6c7e7"
        urgent-color "#ffb4ab"
    }
}

cursor {
    xcursor-theme "breeze_cursors"
    xcursor-size 30
    // 闲置多少毫秒自动隐藏光标
    hide-after-inactive-ms 15000
    shake-to-enlarge {
        grow-speed 0.01
        threshold 2000
        hold-duration-ms 1500
        zoom-factor 7
    }
}

input {
    touchpad {
        natural-scroll
        scroll-factor 0.35
        accel-speed 0.4
        accel-profile "adaptive"
        scroll-method "two-finger"
    }

    mouse {
        // 鼠标速度
        accel-speed 0.8
        // 禁用鼠标加速
        accel-profile "flat"
        scroll-factor 1.3
    }
}

// ==========================================================
// 用户自定义配置 (User Custom Configuration)
// 将自定义的自启项或窗口规则写在 __custom__.kdl 中，更新时自动保留。
// 你也可以在当前目录创建 __custom__/ 文件夹放置个人脚本。
// ==========================================================
include "__custom__.kdl"
